<div class="container mt-4 bg-white p-4 rounded shadow">
  <h2 class="mb-4">Agregar nuevo producto</h2>
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    
    <div class="mb-3">
      <label class="form-label">Nombre del producto</label>
      <input type="text" class="form-control" [(ngModel)]="product.name" name="name" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea class="form-control" [(ngModel)]="product.description" name="description" required></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Precio</label>
      <input type="number" class="form-control" [(ngModel)]="product.price" name="price" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Categoría</label>
      <input type="text" class="form-control" [(ngModel)]="product.category" name="category" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Imagen principal (URL)</label>
      <input type="text" class="form-control" [(ngModel)]="product.image" name="image" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Otras imágenes (URLs separadas por coma)</label>
<!--       <input type="text" class="form-control" (change)="product.images = $event.target.value.split(',')" />
 -->    </div>

    <button type="submit" class="btn btn-outline-brand">Guardar producto</button>
  </form>
</div>
