.carousel {
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    position: relative;

    .carousel-inner {
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
    }

    .carousel-item {
        height: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 0.5rem;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 0;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        z-index: 2;

        &.carousel-control-prev {
            left: 1rem;
        }

        &.carousel-control-next {
            right: 1rem;
        }
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: #E8A700 ;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 60% 60%;
        filter: invert(1);
    }


    .full-width-carousel {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        position: relative;
    }

    .carousel-item img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    input.form-control,
    select.form-select {
        border-radius: 0.5rem;
        box-shadow: none;
        transition: box-shadow 0.2s;

        &:focus {
            box-shadow: 0 0 0 0.2rem #E8A700;
            border-color: #E8A700;
        }
    }


}